/*初始化*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #426696;
}
